@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.product-cards {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include tablet {
    padding: 2rem 2.5rem;
  }

  @include desktop {
    padding: 2rem 10.3125rem;
    gap: 3rem;
  }
}

.zx9 {
  background-color: $primary-orange;
  background-image: url("https://res.cloudinary.com/duepohol4/image/upload/v1710782922/Audiophile/home/desktop/pattern-circles_v2ul1h.svg");
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 3.4375rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;

  @include tablet {
    padding: 3.4375rem 10rem;
    gap: 4rem;
  }

  @include desktop {
    flex-direction: row;
  }

  &__img {
    width: 10rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @include desktop {
    }
  }

  &__title {
    @include heading-2;
    color: $secondary-white;
    text-align: center;
    width: 70%;
    justify-self: center;

    @include tablet {
      @include heading-1;
    }
  }

  &__description {
    @include body;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 0 1.5rem;
  }

  &__btn {
    @include secondary-btn;
    background-color: $secondary-black;
    color: $secondary-white;
  }
}

.zx7 {
  background-image: url("https://res.cloudinary.com/duepohol4/image/upload/v1710782935/Audiophile/home/mobile/image-speaker-zx7_m5bedh.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 20rem;
  padding-left: 1rem;

  @include tablet {
    background-image: url("https://res.cloudinary.com/duepohol4/image/upload/v1710782906/Audiophile/home/tablet/image-speaker-zx7_inx4da.jpg");
    padding-left: 3.875rem;
  }

  @include desktop {
    background-image: url("https://res.cloudinary.com/duepohol4/image/upload/v1710782919/Audiophile/home/desktop/image-speaker-zx7_ujn31u.jpg");
  }

  &__title {
    @include heading-4;
    margin-bottom: 2rem;
  }

  &__btn {
    @include secondary-btn;
  }
}

.yx1 {
  background-color: $primary-grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5625rem 0;
  padding-left: 1rem;

  @include desktop {
    width: 100%;
  }

  &__title {
    @include heading-4;
    margin-bottom: 2rem;
  }

  &__btn {
    @include secondary-btn;
  }

  &__img {
    width: 100%;
    border-radius: 8px;

    @include tablet {
      width: 50%;
    }
  }
}

.yx1__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include tablet {
    flex-direction: row;
    gap: 0.625rem;
  }

  @include desktop {
    gap: 1.875rem;
  }
}
