@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.category {
  &__name-container {
    background-color: $secondary-black;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include tablet {
      height: auto;
      align-items: center;
      padding: 12rem 0 6rem;
    }
  }

  &__new-product {
    @include overline;
  }

  &__name {
    @include heading-4;
    color: $secondary-white;
    padding-bottom: 2rem;

    @include tablet {
      @include heading-2;
      padding: 0;
    }
  }

  &__product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 7.5rem;
    padding: 0 1.5rem;
    gap: 1.5rem;

    @include tablet {
      margin: 7.5rem 0;
      padding: 0 2.5rem;
    }

    @include desktop {
      margin: 10rem 0;
      padding: 0 10.3125rem;
      flex-direction: row;
      gap: 7.5rem;
    }
  }

  &__product-card:nth-child(odd) {
    @include desktop {
      flex-direction: row-reverse;
    }
  }

  &__product-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;

    @include desktop {
      width: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      align-items: flex-start;
    }
  }

  &__product-name {
    @include heading-4;
    text-align: center;

    @include tablet {
      @include heading-2;
    }

    @include desktop {
      text-align: left;
    }
  }

  &__product-description {
    @include body;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);

    @include desktop {
      text-align: left;
    }
  }

  &__product-btn {
    @include primary-btn;
    text-decoration: none;
  }
}
