// Primary Colors
$primary-orange: #d87d4a;
$primary-black: #101010;
$primary-grey: #f1f1f1;
$primary-off-white: #fafafa;

// Secondary Colors
$secondary-orange: #fbaf85;
$secondary-white: #ffffff;
$secondary-black: #000000;

// Media Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
