@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.checkout-form {
  background-color: $secondary-white;
  border-radius: 8px;
  margin-top: 1.5rem;
  padding: 1.5rem 1.5rem 2rem;

  &__label {
    @include label;
  }

  &__input {
    @include input-field;
    width: 100%;
  }

  &__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
  }

  &__input:focus {
    border-color: $primary-orange;
    outline: 1px solid $primary-orange;
  }

  &__title {
    @include heading-4;
  }

  &__section {
    margin-top: 2rem;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 1rem;
  }

  &__payment-method {
    @include input-field;
    display: flex;
    gap: 1rem;
  }
}
