@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@keyframes fadeInBody {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  background-image: url("https://res.cloudinary.com/duepohol4/image/upload/v1710782932/Audiophile/home/mobile/image-header_agipob.jpg");
  background-color: $primary-black;
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;

  @include tablet {
    background-image: url("https://res.cloudinary.com/duepohol4/image/upload/v1710782903/Audiophile/home/tablet/image-header_nlchll.jpg");
    height: 95vh;
  }

  @include desktop {
    background-image: url("https://res.cloudinary.com/duepohol4/image/upload/v1710782916/Audiophile/home/desktop/image-hero_ppc0t7.jpg");
    justify-content: flex-start;
  }

  &__body {
    text-align: center;
    margin-top: 5rem;
    opacity: 0;
    animation: fadeInBody 1.5s ease-in-out forwards;
    animation-delay: 0.2s;

    @include desktop {
      text-align: left;
      padding: 0 10.3125rem;
      width: 28%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__overline {
    @include overline;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    margin-top: 0;
  }

  &__title {
    @include heading-2;
    color: $secondary-white;
    margin-bottom: 1.5rem;

    @include tablet {
      @include heading-1;
    }
  }

  &__description {
    @include body;
    color: rgba(255, 255, 255, 0.7);
    margin: 1.5rem 2rem;

    @include tablet {
      padding: 0 11rem;
    }

    @include desktop {
      padding: 0;
      margin: 0;
    }
  }

  &__btn {
    @include primary-btn;

    @include desktop {
      margin-top: 2rem;
      align-self: flex-start;
    }
  }
}
