@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.checkout {
  padding: 1rem 1.5rem 3rem;
  background-color: $primary-off-white;

  &__back-btn {
    @include body;
    color: rgba(0, 0, 0, 0.5);
  }
}

.confirmation-modal-container {
  margin: 3rem 1.5rem 0;
}
