@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

html,
body,
button,
p {
  box-sizing: border-box;
  margin: 0;
  font-family: Manrope;
  color: $secondary-black;
}

.nav-container {
  position: relative;
}

.menu {
  position: absolute;
  top: 5.625rem;
  width: 100%;
  background-color: $secondary-white;
}

.cart-modal-container {
  margin: 7rem 1.5rem 0;
}
