@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-bg {
  background-color: $secondary-black;
  height: 5.625rem;
}

.product {
  padding: 1rem 1.5rem 3rem;

  @include tablet {
    padding: 2.125rem 2.5rem 0;
  }

  @include desktop {
    padding: 5rem 10.3125rem 0;
  }

  &__back-btn {
    @include body;
    color: rgba(0, 0, 0, 0.5);

    @include tablet {
      margin-bottom: 1rem;
    }

    @include desktop {
      margin-bottom: 3.5rem;
    }
  }

  &__img {
    width: 100%;
    border-radius: 8px;
    margin: 1.5rem 0 2rem;

    @include tablet {
      width: 17.5625rem;
      margin-top: 0;
    }
  }

  &__card {
    @include tablet {
      display: flex;
      align-items: center;
      gap: 4rem;
    }
  }

  &__new-product {
    @include overline;
    margin-bottom: 1rem;
  }

  &__name {
    @include heading-4;
  }

  &__description {
    @include body;
    color: rgba(0, 0, 0, 0.5);
    margin: 24px 0;
  }

  &__price {
    @include heading-6;
  }

  &__cta {
    display: flex;
    gap: 1rem;
    margin-top: 1.9375rem;
  }

  &__btn {
    @include primary-btn;
  }

  &__subtitle {
    @include heading-5;
  }
}

.features {
  margin: 5.5rem 0;

  &__description {
    @include body;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
  }
}

.content {
  @include tablet {
    display: flex;
    gap: 13rem;
  }

  &__list {
    list-style-type: none;
    margin: 1.5rem 0 0;
    padding: 0;
  }

  &__item {
    @include body;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
  }

  &__qty {
    font-size: 0.9375rem;
    font-weight: 700;
    margin-right: 1.5rem;
  }
}
